<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/pages.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-4">
        <%- body %>
    </div>
    <%- include('../partials/footer') %>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
